<div class="container-fluid">
    <div class="row header-section">
        <span>Form Fourteen</span>
    </div>
  
        <div class="row card">
            <!-- <h3>{{data}}</h3>  -->
   <form [formGroup]="userForm" (ngSubmit)="submit()">
       <div class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               <h3>List of Selected Candidates</h3>
               <table border="1">
                   <tr>
                   <th>Name of the Candidates</th>
                   <th>Email Address</th>
                   <th>Status</th>
                   <th></th>
                   </tr>
                   
                   <tr>
                       <td>Smita Maity</td>
                       <td>smitam996@gmail.com</td>
                       <td>Released</td>
                       <td><button type="button" class="btn btn-success upload" >Release</button></td>
                   </tr>
                  
                   <tr>
                    <td>Smita Maity</td>
                    <td>smitam996@gmail.com</td>
                    <td>Released</td>
                    <td><button type="button" class="btn btn-success upload" >Release</button></td>
                </tr>
               
                <tr>
                    <td>Smita Maity</td>
                    <td>smitam996@gmail.com</td>
                    <td>Not Released</td>
                    <td><button type="button" class="btn btn-dark upload" >Release</button></td>
                </tr>
                <tr>
                    <td>Smita Maity</td>
                    <td>smitam996@gmail.com</td>
                    <td>Not Released</td>
                    <td><button type="button" class="btn btn-dark upload" >Release</button></td>
                </tr>
               
                <tr>
                 <td>Smita Maity</td>
                 <td>smitam996@gmail.com</td>
                 <td>Not Released</td>
                 <td><button type="button" class="btn btn-dark upload" >Release</button></td>
             </tr>
            
             <tr>
                 <td>Smita Maity</td>
                 <td>smitam996@gmail.com</td>
                 <td>Not Released</td>
                 <td><button type="button" class="btn btn-dark upload" >Release</button></td>
             </tr>
               </table>
            </div>
         </div>
         <button type="submit" class="btn btn-primary submit" >Submit</button>
  </div>
  </form>
  </div>
  </div>